body{
    font-family: Arial;
    background:#f2f2f2;
}

.container{
    width:700px;
    margin:auto;
    background:white;
    padding:20px;
}

label{
    font-size:20px;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
}

textarea{
    height:100px;
}

button{
    padding:10px 20px;
    margin-top:10px;
    margin-right:10px;
}

.error{
    color:red;
    margin-top:5px;
}

#storedData{
    border:1px solid gray;
    padding:15px;
    margin-top:10px;
}